<div class="body">
    <div class="logos">
        <img src="" alt="" class="logo">
        <p class="nombComp">MisRoomies.com</p>
    </div>
    <div class="tabs">
        <div class="subtab"><p>subtab1</p></div>
        <div class="subtab"><p>subtab2</p></div>
        <div class="subtab"><p>subtab3</p></div>
        <div class="subtab"><p>subtab3</p></div>
        <div class="subtab"><p>subtab4</p></div>
    </div>
    <div class="profile">
        <p class="name">Matias</p>
        <br>
        <img src="../../assets/perfil.jpeg" alt="" class="imgProfile">
    </div>
</div>
