.body{
    background-color: black;
    height: 100px;
    width: 100vw;
    margin: 0;
    display: flex;
    color: white;
}
.logos{
      border: white 1px solid ;
    border-radius: 15%;
    width: 20%;  
}
.tabs{
    border: white 1px solid ;
    border-radius: 15%;
    width: 60%;  
    display: flex;
}
.profile{
    border: white 1px solid ;
    border-radius: 15%;
    width: 20%;  
}
.subtab{
    border: white 1px solid ;
    border-radius: 15%;
    width: 20%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile{
       display: flex;
    align-items: center; 
    justify-content: center;

}
.imgProfile{
    width: 20%;
    height: 80%;
    border-radius: 30%;
}
.name{
    font-size: 100%;
    margin: 5px;
}
.nombComp{
          display: flex;
    align-items: center; 
    justify-content: center; 
}



